# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/build

# Compiler configs
c_cpp_properties.json
compile_commands.json
.cache

# Script logs
scripts/error_log.txt
scripts/unit_test_error_log.txt

# logs
log.txt
